<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Telonics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Telonics.Properties.Settings>
            <setting name="TdcPathToExecutable" serializeAs="String">
                <value>C:\Program Files (x86)\Telonics\Data Converter\TDC.exe</value>
            </setting>
            <setting name="TdcMillisecondTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TdcArgosBatchFileFormat" serializeAs="String">
                <value>&lt;BatchSettings&gt;&lt;ArgosFile&gt;{0}&lt;/ArgosFile&gt;&lt;ParameterFile&gt;{1}&lt;/ParameterFile&gt;&lt;OutputFolder&gt;{2}&lt;/OutputFolder&gt;&lt;BatchLog&gt;{3}&lt;/BatchLog&gt;&lt;MoveFiles&gt;false&lt;/MoveFiles&gt;&lt;GoogleEarth&gt;false&lt;/GoogleEarth&gt;&lt;/BatchSettings&gt;</value>
            </setting>
            <setting name="TdcDatalogBatchFileFormat" serializeAs="String">
                <value>&lt;BatchSettings&gt;&lt;DatalogFile&gt;{0}&lt;/DatalogFile&gt;&lt;OutputFolder&gt;{1}&lt;/OutputFolder&gt;&lt;BatchLog&gt;{2}&lt;/BatchLog&gt;&lt;MoveFiles&gt;false&lt;/MoveFiles&gt;&lt;GoogleEarth&gt;false&lt;/GoogleEarth&gt;&lt;/BatchSettings&gt;</value>
            </setting>
            <setting name="ArgosServerMinDownloadDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ArgosServerMaxDownloadDays" serializeAs="String">
                <value>10</value>
            </setting>
        </Telonics.Properties.Settings>
    </applicationSettings>
</configuration>