<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of Microsoft All Rules" Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8019" Action="Info" />
    <Rule Id="CS8020" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Info" />
    <Rule Id="IDE0002" Action="Info" />
    <Rule Id="IDE0003" Action="Info" />
    <Rule Id="IDE0003WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0004" Action="Info" />
    <Rule Id="IDE0004WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0005" Action="Info" />
    <Rule Id="IDE0007" Action="Info" />
    <Rule Id="IDE0007WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0009" Action="Info" />
    <Rule Id="IDE0009WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0010" Action="Info" />
    <Rule Id="IDE0010WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0011" Action="Info" />
    <Rule Id="IDE0011WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0016" Action="Info" />
    <Rule Id="IDE0016WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0017" Action="Info" />
    <Rule Id="IDE0017WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0018" Action="Info" />
    <Rule Id="IDE0018WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0019" Action="Info" />
    <Rule Id="IDE0019WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0020" Action="Info" />
    <Rule Id="IDE0020WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0021" Action="Info" />
    <Rule Id="IDE0022" Action="Info" />
    <Rule Id="IDE0023" Action="Info" />
    <Rule Id="IDE0024" Action="Info" />
    <Rule Id="IDE0025" Action="Info" />
    <Rule Id="IDE0026" Action="Info" />
    <Rule Id="IDE0027" Action="Info" />
    <Rule Id="IDE0028" Action="Info" />
    <Rule Id="IDE0028WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0029" Action="Info" />
    <Rule Id="IDE0029WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0030" Action="Info" />
    <Rule Id="IDE0030WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0031" Action="Info" />
    <Rule Id="IDE0031WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0032" Action="Info" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0034" Action="Info" />
    <Rule Id="IDE0034WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0036" Action="Info" />
    <Rule Id="IDE0036WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0037" Action="Info" />
    <Rule Id="IDE0037WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0038" Action="Info" />
    <Rule Id="IDE0038WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0039" Action="Info" />
    <Rule Id="IDE0039WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0041" Action="Info" />
    <Rule Id="IDE0041WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0042" Action="Info" />
    <Rule Id="IDE0042WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0043" Action="Info" />
    <Rule Id="IDE0047" Action="Info" />
    <Rule Id="IDE0048" Action="Info" />
    <Rule Id="IDE0048WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0053" Action="Info" />
    <Rule Id="IDE0053WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0054" Action="Info" />
    <Rule Id="IDE0054WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0056" Action="Info" />
    <Rule Id="IDE0056WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0057" Action="Info" />
    <Rule Id="IDE0057WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0059" Action="Info" />
    <Rule Id="IDE0060" Action="Info" />
    <Rule Id="IDE0061" Action="Info" />
    <Rule Id="IDE0062" Action="Info" />
    <Rule Id="IDE0062WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0065" Action="Info" />
    <Rule Id="IDE0071" Action="Info" />
    <Rule Id="IDE0071WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0072" Action="Info" />
    <Rule Id="IDE0072WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0073" Action="Info" />
    <Rule Id="IDE0073WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0074" Action="Info" />
    <Rule Id="IDE0074WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0075" Action="Info" />
    <Rule Id="IDE0075WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0080" Action="Info" />
    <Rule Id="IDE0080WithoutSuggestion" Action="Info" />
    <Rule Id="IDE1005" Action="Info" />
    <Rule Id="IDE1005WithoutSuggestion" Action="Info" />
    <Rule Id="IDE1006" Action="Info" />
    <Rule Id="IDE1006WithoutSuggestion" Action="Info" />
    <Rule Id="RE0001" Action="Info" />
    <Rule Id="RE0001WithoutSuggestion" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0033" Action="Info" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0044" Action="Info" />
    <Rule Id="IDE0044WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0055" Action="Info" />
    <Rule Id="IDE0055WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0067" Action="Hidden" />
    <Rule Id="IDE0068" Action="Info" />
    <Rule Id="IDE0069" Action="Info" />
    <Rule Id="IDE0070" Action="Info" />
    <Rule Id="IDE0070WithoutSuggestion" Action="Info" />
  </Rules>
</RuleSet>