<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VectronicDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DataModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="FileLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DataModel.Properties.Settings.Animal_MovementConnectionString" connectionString="Data Source=INPAKROVMAIS;Initial Catalog=Animal_Movement;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <VectronicDownloader.Properties.Settings>
      <setting name="DefaultProjectInvestigator" serializeAs="String">
        <value>NPS\RESarwas</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>VectronicDownloader.log</value>
      </setting>
      <setting name="ApiBaseUrl" serializeAs="String">
        <value>https://api.vectronic-wildlife.com/v2/collar/</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
        <value>mailer.itc.nps.gov</value>
      </setting>
      <setting name="MailTo" serializeAs="String">
        <value>akro_gis_helpdesk@nps.gov</value>
      </setting>
    </VectronicDownloader.Properties.Settings>
    <DataModel.Properties.Settings>
      <setting name="CommandTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </DataModel.Properties.Settings>
    <FileLibrary.Properties.Settings>
      <setting name="FileProcessorLogFilePath" serializeAs="String">
        <value>ArgosProcessor.log</value>
      </setting>
      <setting name="LogMessagesToConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogMessagesToLogFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogErrorsToConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogErrorsToLogFile" serializeAs="String">
        <value>True</value>
      </setting>
    </FileLibrary.Properties.Settings>
  </applicationSettings>
</configuration>
