<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="FileLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          <section name="Telonics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimalMovement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataModel.Properties.Settings.Animal_MovementConnectionString"
            connectionString="Data Source=INPAKRO39088;Initial Catalog=Animal_Movement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <DataModel.Properties.Settings>
            <setting name="CommandTimeout" serializeAs="String">
              <value>300</value>
            </setting>
        </DataModel.Properties.Settings>
      <FileLibrary.Properties.Settings>
        <setting name="FileProcessorLogFilePath" serializeAs="String">
          <value>ArgosProcessor.log</value>
        </setting>
        <setting name="LogMessagesToConsole" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LogMessagesToLogFile" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LogErrorsToConsole" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LogErrorsToLogFile" serializeAs="String">
          <value>False</value>
        </setting>
      </FileLibrary.Properties.Settings>
      <Telonics.Properties.Settings>
        <setting name="TdcPathToExecutable" serializeAs="String">
          <value>C:\Program Files (x86)\Telonics\Data Converter\TDC.exe</value>
        </setting>
        <setting name="TdcMillisecondTimeout" serializeAs="String">
          <value>20000</value>
        </setting>
        <setting name="TdcArgosBatchFileFormat" serializeAs="String">
          <value>
            &lt;BatchSettings&gt;
            &lt;ArgosFile&gt;{0}&lt;/ArgosFile&gt;
            &lt;ParameterFile&gt;{1}&lt;/ParameterFile&gt;
            &lt;OutputFolder&gt;{2}&lt;/OutputFolder&gt;
            &lt;BatchLog&gt;{3}&lt;/BatchLog&gt;
            &lt;MoveFiles&gt;false&lt;/MoveFiles&gt;
            &lt;GoogleEarth&gt;false&lt;/GoogleEarth&gt;
            &lt;/BatchSettings&gt;
          </value>
        </setting>
        <setting name="TdcDatalogBatchFileFormat" serializeAs="String">
          <value>
            &lt;BatchSettings&gt;
            &lt;DatalogFile&gt;{0}&lt;/DatalogFile&gt;
            &lt;OutputFolder&gt;{1}&lt;/OutputFolder&gt;
            &lt;BatchLog&gt;{2}&lt;/BatchLog&gt;
            &lt;MoveFiles&gt;false&lt;/MoveFiles&gt;
            &lt;GoogleEarth&gt;false&lt;/GoogleEarth&gt;
            &lt;/BatchSettings&gt;
          </value>
        </setting>
        <setting name="ArgosServerMinDownloadDays" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="ArgosServerMaxDownloadDays" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ArgosUrl" serializeAs="String">
          <value>http://ws-argos.clsamerica.com/argosDws/services/DixService</value>
        </setting>
        <setting name="ArgosPlatformSoapRequest" serializeAs="String">
          <value>
            &lt;soap:Envelope xmlns:soap=""http://www.w3.org/2003/05/soap-envelope"" xmlns:argos=""http://service.dataxmldistribution.argos.cls.fr/types""&gt;
            &lt;soap:Header/&gt;
            &lt;soap:Body&gt;
            &lt;argos:csvRequest&gt;
            &lt;argos:username&gt;{0}&lt;/argos:username&gt;
            &lt;argos:password&gt;{1}&lt;/argos:password&gt;
            &lt;argos:platformId&gt;{2}&lt;/argos:platformId&gt;
            &lt;argos:nbDaysFromNow&gt;{3}&lt;/argos:nbDaysFromNow&gt;
            &lt;argos:displayLocation&gt;true&lt;/argos:displayLocation&gt;
            &lt;argos:displayDiagnostic&gt;true&lt;/argos:displayDiagnostic&gt;
            &lt;argos:displayRawData&gt;true&lt;/argos:displayRawData&gt;
            &lt;argos:displayImageLocation&gt;true&lt;/argos:displayImageLocation&gt;
            &lt;argos:displayHexId&gt;true&lt;/argos:displayHexId&gt;
            &lt;argos:showHeader&gt;true&lt;/argos:showHeader&gt;
            &lt;/argos:csvRequest&gt;
            &lt;/soap:Body&gt;
            &lt;/soap:Envelope&gt;
          </value>
        </setting>
        <setting name="ArgosProgramSoapRequest" serializeAs="String">
          <value>
            &lt;soap:Envelope xmlns:soap=""http://www.w3.org/2003/05/soap-envelope"" xmlns:argos=""http://service.dataxmldistribution.argos.cls.fr/types""&gt;
            &lt;soap:Header/&gt;
            &lt;soap:Body&gt;
            &lt;argos:csvRequest&gt;
            &lt;argos:username&gt;{0}&lt;/argos:username&gt;
            &lt;argos:password&gt;{1}&lt;/argos:password&gt;
            &lt;argos:programNumber&gt;{2}&lt;/argos:programNumber&gt;
            &lt;argos:nbDaysFromNow&gt;{3}&lt;/argos:nbDaysFromNow&gt;
            &lt;argos:displayLocation&gt;true&lt;/argos:displayLocation&gt;
            &lt;argos:displayDiagnostic&gt;true&lt;/argos:displayDiagnostic&gt;
            &lt;argos:displayRawData&gt;true&lt;/argos:displayRawData&gt;
            &lt;argos:displayImageLocation&gt;true&lt;/argos:displayImageLocation&gt;
            &lt;argos:displayHexId&gt;true&lt;/argos:displayHexId&gt;
            &lt;argos:showHeader&gt;true&lt;/argos:showHeader&gt;
            &lt;/argos:csvRequest&gt;
            &lt;/soap:Body&gt;
            &lt;/soap:Envelope&gt;
          </value>
        </setting>
        <setting name="ArgosPlatformListSoapRequest" serializeAs="String">
          <value>
            &lt;soap:Envelope xmlns:soap=""http://www.w3.org/2003/05/soap-envelope"" xmlns:argos=""http://service.dataxmldistribution.argos.cls.fr/types""&gt;
            &lt;soap:Header/&gt;
            &lt;soap:Body&gt;
            &lt;argos:platformListRequest&gt;
            &lt;argos:username&gt;{0}&lt;/argos:username&gt;
            &lt;argos:password&gt;{1}&lt;/argos:password&gt;
            &lt;/argos:platformListRequest&gt;
            &lt;/soap:Body&gt;
            &lt;/soap:Envelope&gt;
          </value>
        </setting>
      </Telonics.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AnimalMovement.Properties.Settings>
            <setting name="AddFileFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddAnimalFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddCollarFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddEditorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddProjectFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AnimalDetailsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChangeInvestigatorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CollarAnimalFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CollarDetailsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CreateQueryLayerFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DeployCollarFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileContentsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileDetailsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InvestigatorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ProjectDetailsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ProjectsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RetrieveCollarFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddAnimalFormSize" serializeAs="String">
                <value>375, 320</value>
            </setting>
            <setting name="AddCollarFormSize" serializeAs="String">
                <value>376, 370</value>
            </setting>
            <setting name="AddEditorFormSize" serializeAs="String">
                <value>405, 246</value>
            </setting>
            <setting name="AddFileFormSize" serializeAs="String">
                <value>284, 260</value>
            </setting>
            <setting name="AddProjectFormSize" serializeAs="String">
                <value>324, 220</value>
            </setting>
            <setting name="AnimalDetailsFormSize" serializeAs="String">
                <value>465, 255</value>
            </setting>
            <setting name="ChangeInvestigatorFormSize" serializeAs="String">
                <value>330, 170</value>
            </setting>
            <setting name="CollarAnimalFormSize" serializeAs="String">
                <value>290, 155</value>
            </setting>
            <setting name="CollarDetailsFormSize" serializeAs="String">
                <value>500, 300</value>
            </setting>
            <setting name="CreateQueryLayerFormSize" serializeAs="String">
                <value>531, 419</value>
            </setting>
            <setting name="DeployCollarFormSize" serializeAs="String">
                <value>290, 155</value>
            </setting>
            <setting name="FileContentsFormSize" serializeAs="String">
                <value>427, 440</value>
            </setting>
            <setting name="FileDetailsFormSize" serializeAs="String">
                <value>492, 331</value>
            </setting>
            <setting name="InvestigatorFormSize" serializeAs="String">
                <value>462, 434</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>231, 194</value>
            </setting>
            <setting name="ProjectDetailsFormSize" serializeAs="String">
                <value>536, 406</value>
            </setting>
            <setting name="ProjectsFormSize" serializeAs="String">
                <value>602, 251</value>
            </setting>
            <setting name="RetrieveCollarFormSize" serializeAs="String">
                <value>230, 102</value>
            </setting>
            <setting name="CreateQueryLayerFormSplitter1Distance" serializeAs="String">
                <value>185</value>
            </setting>
            <setting name="CreateQueryLayerFormSplitter2Distance" serializeAs="String">
                <value>112</value>
            </setting>
            <setting name="CollarParameterFileDetailsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CollarParameterFileDetailsFormSize" serializeAs="String">
                <value>508, 300</value>
            </setting>
            <setting name="AddCollarParameterFileFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddCollarParameterFileFormSize" serializeAs="String">
                <value>300, 166</value>
            </setting>
            <setting name="AddFolderFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AddFolderFormSize" serializeAs="String">
                <value>284, 317</value>
            </setting>
            <setting name="InvestigatorFormActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InvestigatorFormShowEmailFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvestigatorFormShowDownloadFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvestigatorFormShowDerivedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectDetailsFormActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectDetailsFormShowEmailFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectDetailsFormShowDownloadFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectDetailsFormShowDerivedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadFilesFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UploadFilesFormSize" serializeAs="String">
                <value>440, 364</value>
            </setting>
        </AnimalMovement.Properties.Settings>
    </userSettings>
</configuration>
